
<h2 style="text-align: center;">EMPLOYEE DETAILS </h2>

<!-- <app-piechart [piedata]="USER_DATA"
    [editdata]="this.appeditdata"
    [removedata]="this.appremovedata"
    [piedonefunction]="(this.piedonedata)"
></app-piechart> -->

<app-highchart
[piehighchart]="USER_DATA"
[highchart_edit_data]="this.appeditdata"
[highchart_remove_data]="this.appremovedata"
[sharednamekey]="namekey"
[sharedagekey]="agekey"

></app-highchart>

<!-- [events]="eventsSubject.asObservable()" -->
<!-- [piedonefunction]="(this.piedonedata)" -->
<!--  -->



<app-output-graph></app-output-graph>


<!-- <app-line-chart
[linedata]="USER_DATA"
></app-line-chart> -->


<highcharts-chart 
[Highcharts]="Highcharts" 
[options]="chartOptions">
</highcharts-chart>

<!-- <app-piechart [piedata]="USER_DATA"></app-piechart> -->

<app-usertable [data]="USER_DATA" 
(updatedataevent)="receiveddata($event)"
(removeupdateevent)="receiveremovedata($event)"
(piedoneevent)="piedonedata($event)"
></app-usertable>




