table {
    width: 90%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 200px;
  }
  p {
    font-family: Lato;
  }
  table {
    width: 90%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 200px;
  }
  .btn-edit {
    text-align: right;
  }
  h2 {
    text-align: center;
    padding-top: 20px;
  }
  
  .table-header {
    width: 90%;
    margin: auto;
    text-align: right;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .button-add-row {
    background: #1b9e1b;
    color: #ffffff;
    margin-top: 100px;
  }
  
  .button-remove-rows {
    margin-top: 100px;
    background: red;
    color: #ffffff;
    margin-left: 900px;
  }
  
  .button-remove {
    margin-top: 10px;
    margin-left: 50px;
    color: red;
  }
  
  ::ng-deep .mat-form-field-infix {
    width: 100% !important;
  }
  
  .form-input {
    padding-right: 5px;
  }