<article class="table-header">
    <button class="button-remove-rows" mat-button (click)="removeSelectedRows();removeupdate();pieremoveupdate()">
        Remove Rows
      </button>
    <button class="button-add-row" mat-button (click)="addRow()">Add Row</button>
  </article>
  <table mat-table [dataSource]="dataSource">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <th mat-header-cell *matHeaderCellDef>
        {{ col.label }}
      </th>
      <td mat-cell *matCellDef="let element">
        <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
            <ng-container *ngSwitchCase="'isSelected'">
              <mat-checkbox (change)="element.isSelected = $event.checked"></mat-checkbox>
            </ng-container>
            <div class="btn-edit" *ngSwitchCase="'isEdit'">
              <button mat-button (click)="element.isEdit = !element.isEdit">Edit</button>
              <!-- <button mat-button class="button-remove" (click)="removeRow(element.id)">
                Delete
              </button> -->
            </div>
            <span *ngSwitchDefault>
              {{ element[col.key] }}
            </span>
          </div>
        <div [ngSwitch]="col.type" *ngIf="element.isEdit">
              <ng-container *ngSwitchCase="'isSelected'">
    <mat-checkbox (change)="element.isSelected = $event.checked"></mat-checkbox>
  </ng-container>

          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button mat-button (click)="element.isEdit = !element.isEdit ; update();piedone()">
              Done
            </button>
          </div>
          <mat-form-field
            class="form-input"
            *ngSwitchCase="'date'"
            appearance="fill"
          >
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="element[col.key]"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="form-input" *ngSwitchDefault>
            <input [type]="col.type" matInput [(ngModel)]="element[col.key]" />
          </mat-form-field>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>